<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:name=".MyApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatItt"
        tools:targetApi="31"
        android:grantUriPermissions="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".chats.chat.view.ShowImageActivity"
            android:exported="false" />
        <activity
            android:name=".profile.view.NewEmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".chats.chat.view.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.login.view.EmailInputActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.login.view.OtpAuthenActivity"
            android:exported="false" />
        <activity
            android:name=".chats.individual_chat.create_new.view.CreatePrivateChatActivity"
            android:exported="false" />
        <activity
            android:name=".chats.group_chat.create_new.view.CreateGroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".profile.view.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".contacts.send_request.view.QRScanFriendActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".chats.group_chat.info.view.ChangeInfoGroupActivity"
            android:exported="false" />
        <activity
            android:name=".chats.group_chat.info.view.MemberActivity"
            android:exported="false" />
        <activity
            android:name=".chats.group_chat.info.view.GroupChatInfoActivity"
            android:exported="false" />
        <activity
            android:name=".chats.individual_chat.info.view.PrivateChatInfoActivity"
            android:exported="false" />
        <activity
            android:name=".chats.group_chat.info.view.AddMemActivity"
            android:exported="false" />
        <activity
            android:name=".chats.individual_chat.info.view.FriendStatusActivity"
            android:exported="false" />
        <activity
            android:name=".chats.individual_chat.info.view.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".contacts.manage_request_friend.view.ManageReqFrieActivity"
            android:exported="false" />
        <activity
            android:name=".contacts.send_request.view.ProfileScanUserActivity"
            android:exported="false" />
        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>